/* adjust header styling */
.article-section-header h1, .year-header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 6px;
    display: inline;
}
.article-section-header, .year-header {
    background-color: rgba(0,0,0,0.6);
    padding-top: 12px;
    padding-bottom: 12px;
}

/* main list of articles */
.articles {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* make cards display next to each other with correct dimensions and adjust styling */
.main-content .mdc-card {
    display: inline-flex;
    width: calc((100% / 3) - 18px);
    box-shadow: none;
    margin: 6px 6px 10px 6px;
    background: none;
    cursor: pointer;
}

/* style cards */
.mdc-card-content {
    margin: 5px 15px 5px 15px;
}
.mdc-card .mdc-typography--headline6, .mdc-card .mdc-typography--subtitle2 {
    margin: 0;
}
.mdc-card .mdc-typography--headline6 {
    text-transform: capitalize;
}
.article-description {
    margin-top: 6px;
    font-style: italic;
}


/* change number of articles in each row depending on screen size */
@media screen and (max-width: 600px) {
    .article-section .mdc-card {
        width: calc((100% / 2) - 18px);
    }
}
@media screen and (max-width: 350px) {
    .article-section .mdc-card {
        width: calc((100% / 1) - 18px);
    }
}