/* change theme */
:root {
    --mdc-theme-primary: #253a67;
    --mdc-theme-secondary: #ea6343;
    --mdc-theme-background: #181a1b;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    background-color: var(--mdc-theme-primary);
    color: #ffffff;
}
.mdc-drawer {
    background-color: var(--mdc-theme-background);
}
.mdc-drawer *, .mdc-drawer .material-icons, .mdc-drawer h3 {
    color: #ddd;
}
.mdc-drawer .mdc-list-group__subheader {
    color: #ccc;
}
.mdc-button:not(:disabled) {
    color: var(--mdc-theme-secondary);
    border-color: var(--mdc-theme-secondary);
}
.mdc-button::before, .mdc-button::after {
    background-color: var(--mdc-theme-secondary);
}
a {
    color: var(--mdc-theme-secondary);
}

/* style scrollbars */
body::-webkit-scrollbar, .mdc-drawer__content::-webkit-scrollbar {
    width: 11px;
}
body, .mdc-drawer__content {
    --scrollbar-thumb-color: #555555;
    --scrollbar-track-color: #262829;
    --scrollbar-border-color: #444444;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-thumb-color);
}
body::-webkit-scrollbar-track, .mdc-drawer__content::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}
body::-webkit-scrollbar-thumb, .mdc-drawer__content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border: 1px solid var(--scrollbar-border-color);
}

/* navbar buttons */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-list-item--activated .mdc-list-item__text, .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--mdc-theme-secondary);
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::after {
    background-color: var(--mdc-theme-secondary);
}
.mdc-list-item.year::before, .mdc-list-item.year::after {
    background: none !important;
}
.mdc-list-item.year, .mdc-list-item.year {
    margin: 0;
    padding: 0;
    display: initial;
}

/* change cursor on top app bar */
.mdc-top-app-bar__title {
    cursor: pointer;
}

/* remove margin above main content */
.mdc-top-app-bar--short-fixed-adjust {
    padding-top: 41px;
}

/* expand grey bar in footer to bottom of page */
html {
    height: 100%;
}
html, body, .mdc-drawer-app-content {
    display: flex;
    flex-direction: column;
}
.footer-container, .mdc-drawer-app-content, body {
    flex-grow: 1;
}

/* make content display properly */
.mdc-list-group h3 {
    margin: 20px 16px auto 16px;
    font-weight: normal;
}
.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
}
.mdc-drawer {
    width: 350px;
}
.main-content {
    margin: 15px 0;
    overflow: auto;
}
.app-bar {
    position: absolute;
}

/* parallax backgrounds */
.parallax-section {
    position: relative;
    z-index: 0;
}
.parallax-section > div:last-child > div {
    background-color: rgba(50,50,50,0.75);
    background-blend-mode: multiply;
    /* IE support */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        opacity: 0.8;
    }
}

/* splitter for between sections */
.splitter {
    height: 15px;
    width: 100%;
    background-color: var(--mdc-theme-primary);
}

/* cookie notice */
#cookies {
    display: none;
    width: 100%;
    position: fixed;
    background: var(--mdc-theme-primary);
    text-align: center;
    bottom: -100px;
    left: 0;
    z-index: 1;
}
#cookies p {
    margin: 10px;
}
#cookies p a {
    color: var(--mdc-theme-secondary);
    text-decoration: none;
}

/* footer */
.footer-container {
    background: var(--mdc-theme-background);
    padding: 5px 15%;
}
footer {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* edit footer depending on screen size - edits alignment & changes switches between center- and left- aligned BBC Young Reporter logos */
footer img {
    width: 125px;
    content: url("/images/young-reporter-logo.png");
}
@media screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
    footer img {
        content: url("/images/young-reporter-logo-centered.png");
        width: 200px;
        padding-bottom: 10px;
        order: 1;
    }
    footer span {
        order: 2;
    }
}

/* responsive side margins */
.article-section .articles, .article-section-header, .footer-container, .article-content, .article-title-section ~ .mdc-typography--caption-text, .article-title-section, .mdc-typography--subtitle1, .mdc-typography--headline3 {
    padding-left: 15%;
    padding-right: 15%;
}
@media screen and (max-width: 1000px) {
    .article-section .articles, .article-section-header, .footer-container, .article-content, .footer-container, .article-title-section ~ .mdc-typography--caption-text, .article-title-section, .mdc-typography--subtitle1, .mdc-typography--headline3 {
        padding-left: 8%;
        padding-right: 8%;
    }
}
@media screen and (max-width: 800px) {
    .article-section .articles, .article-section-header, .article-content, .footer-container, .article-title-section ~ .mdc-typography--caption-text, .article-title-section, .mdc-typography--subtitle1, .mdc-typography--headline3 {
        padding-left: 2%;
        padding-right: 2%;
    }
}