.mdc-card {
    margin: 2px 2px 10px 2px;
}
.mdc-card-content {
    margin: 5px 15px 5px 15px;
}

.mdc-card .mdc-typography--headline6, .mdc-card .mdc-typography--subtitle2 {
    margin: 0;
}

.main-content .mdc-card {
	float:left;
	clear:left;
	width: 49%;
}
.main-content .mdc-card:nth-of-type(even){
	float:right;
	clear:right;
}
.main-content .mdc-card:nth-child(1), .main-content .mdc-card:nth-child(2) {
    float: none;
    clear: none;
    width: auto;
}
