/* make article cards look nice by altering margins */
.mdc-card {
    margin: 2px 2px 10px 2px;
}

.mdc-card-content {
    margin: 5px 15px 5px 15px;
}

.mdc-card .mdc-typography--headline6, .mdc-card .mdc-typography--subtitle2 {
    margin: 0;
}

.mdc-card .mdc-typography--headline6 {
    text-transform: capitalize;
}