/* position heading in middle of image */
.parallax-section {
    text-align: center;
    vertical-align: middle;
    padding: 150px 15px;
}
/* list of articles */
.articles {
    background-color: var(--mdc-theme-background);
    padding-top: 12px;
    padding-bottom: 12px;
}