<div class="parallax-section article-title-section" data-jarallax data-speed="{{ site.parallax-speed }}" style="background-image: url('/images/{{ page.url | relative_url | remove: '.html' | replace: '/', '-' | remove: '-articles-' }}.jpg');">
    <h2 class="mdc-typography--headline3">{{ page.title }}</h2>
</div>
<figcaption class="mdc-typography--caption-text">{{ page.image-caption }} &bull; &copy; {{ page.copyright }}</figcaption>

<h3 class="mdc-typography--subtitle1">
    <time class="timeago" datetime="{{ page.date | date: '%Y-%m-%d' }}T{{ page.date | date: '%H:%M:%S' }}">{{ page.date | date: '%A %e %B %Y' }}</time>
     &bull; by {{ page.authors }}
</h3>