<div class="content">
    <section>
        <h3>Reading School</h3>
        <ul class="plain">
            {% for link in site.data.school-links %}
            <li><a href="{{ link.url }}" target="_blank"><i class="icon fa-{{ link.icon }}">&nbsp;</i>{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>English Department</h3>
        <ul class="plain">
            {% for link in site.data.english-department-links %}
            <li><a href="{{ link.url }}" target="_blank"><i class="icon fa-{{ link.icon }}">&nbsp;</i>{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
<div class="copyright">
    <a href="https://mgrove.uk">&copy; Matthew G {{ "now" | date: "%Y" }}.</a>
</div>