<head>
    {% include meta.html %}

    <!-- import Roboto (font) -->
    <link href="/css/roboto.css" rel="stylesheet">

    <!-- import jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- import jQuery timeago -->
    <script src="/js/jquery.timeago.min.js"></script>

    <!-- import cookie JavaScript -->
    <script src="/js/cookies.js"></script>

    <!-- import Material Design components & icons -->
    <link href="/css/material-components-web.min.css" rel="stylesheet">
    <link href="/css/material_icons.css" rel="stylesheet">
    <script src="/js/material-components-web.min.js"></script>

    <!-- import Jarallax for parallax backgrounds -->
    <script src="/js/jarallax.min.js"></script>

    <!-- import local styling & scripts -->
    <script src="/js/global.js"></script>
    <link href="/css/global.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-68BN6F20LG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-68BN6F20LG');
    </script>
</head>
