<!-- Header -->
<header id="header">
	<img src="/images/logo-white-padded.png" class="logo" />
	<a class="logo" href="/">BBC Young Reporter | Reading School</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="https://reading-school.co.uk" class="main-navbar-link">Reading School Website</a></li>
		<li><a href="/" class="{% if page.url == '/' %}current-page-link{% endif %} main-navbar-link">Home</a></li>

	{% for article in site.articles reversed %}
	{% assign currentdate = article.date | date: "%Y" %}
	{% if currentdate != date %}
	{% assign year_url = "/years/" | append: currentdate | append: ".html" %}
	<li><a href="/years/{{ currentdate }}" class="{% if page.url == year_url %}current-page-link{% endif %} year-navbar-link"></a>{{ currentdate }}</a></li>
	{% assign date = currentdate %}
	{% endif %}
	<li><a href="{{ article.url | relative_url }}" class="{% if article.url == page.url %}current-page-link{% endif %} article-navbar-link">{{ article.title }}</a></li>
	{% endfor %}
	</ul>
</nav>