<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <link rel="icon" href="/images/favicon.ico">

    <!-- add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/favicon.png">

    <!-- add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ page.title }} | Reading School">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

    <!-- tile icon & colour for Windows 8 -->
    <meta name="msapplication-TileImage" content="/images/favicon.png">
    <meta name="msapplication-TileColor" content="#d84315">

    <title>{{ page.title }} | Reading School</title>
    <meta name="description" content="{{ page.excerpt }}">

    <!-- import Roboto (font) -->
    <link href="/css/roboto.css" rel="stylesheet">

    <!-- import jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- import jQuery timeago -->
    <script src="/js/jquery.timeago.min.js"></script>

    <!-- import cookie JavaScript -->
    <script src="/js/cookies.js"></script>

    <!-- import Material Design components & icons -->
    <link href="/css/material-components-web.min.css" rel="stylesheet">
    <link href="/css/material_icons.css" rel="stylesheet">
    <script src="/js/material-components-web.min.js"></script>

    <!-- import Jarallax for parallax backgrounds -->
    <script src="/js/jarallax.min.js"></script>

    <!-- import local styling & scripts -->
    <script src="/js/global.js"></script>
    <link href="/css/global.css" rel="stylesheet">
</head>
