{% if page.url contains "/years" %}
{% assign page_title = page.url | relative_url | remove: ".html" | remove: "/years/" %}
{% assign page_description = "Articles from Reading School's year 8 students in " | append: page_title %}
{% else %}
{% assign page_title = page.title %}
{% assign page_description = page.description %}
{% endif %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <link rel="icon" href="/images/logo-white-square.png">

    <!-- add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ page_title }}">
    <link rel="apple-touch-icon-precomposed" href="/images/logo-white-square.png">

    <!-- tile icon & colour for Windows 8 -->
    <meta name="msapplication-TileImage" content="/images/logo-white-square.png">
    <meta name="msapplication-TileColor" content="#1d2f53">

    <!-- page info -->
    <title>{{ page_title }} | Reading School</title>
    <meta name="description" content="{{ page_description }}">
    <meta name="keywords" content="" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124505000-1" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-124505000-2');
    </script>
    
    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/timeago.js"></script>
</head>