<div class="mdc-card" onclick="window.location='{{ include.article.url | relative_url }}';">
    <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('/images/{{ include.article.url | relative_url | remove: '.html' | replace: '/', '-' | remove: '-articles-' }}.jpg');"></div>
    <div class="mdc-card-content">
        <h2 class="mdc-typography--headline6">{{ include.article.title }}</h2>
        <h3 class="mdc-typography--subtitle2">
            <time class="timeago" datetime="{{ article.date | date: '%Y-%m-%d' }}T{{ article.date | date: '%H:%M:%S' }}">{{ include.article.date | date: '%A %e %B %Y' }}</time>
            &bull; by {{ include.article.authors }}
        </h3>
        <div class="mdc-typography--body2 article-description">{{ include.article.description }}</div>
    </div>
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button" data-mdc-auto-init="MDCRipple" onclick="window.location='{{ include.article.url | relative_url }}';">Read</button>
        </div>
    </div>
</div>