<aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <div style="margin: 15px;text-align:center;">
                <img src="/images/logo-white.png" style="width: 90%;"/>
                <img src="/images/young-reporter-logo.png" style="width: 90%;padding-top:15px;"/>
            </div>
            <a class="mdc-list-item" href="https://reading-school.co.uk" data-mdc-auto-init="MDCRipple">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">school</i>
                <span class="mdc-list-item__text">Reading School Website</span>
            </a>
            <a class="mdc-list-item" href="/" data-mdc-auto-init="MDCRipple">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                <span class="mdc-list-item__text">Home Page</span>
            </a>
            {% if site.articles %}
            <div class="mdc-list-group">
                <h3 class="mdc-typography--headline7">Articles</h3>
                {% for article in site.articles reversed %}
                    {% assign currentdate = article.date | date: "%Y" %}
                    {% if currentdate != date %}
                    {% if article.url != site.articles.last.url %}
                    </div>
                    {% endif %}
                    <div class="mdc-list-group">
                    <h3 class="mdc-list-group__subheader">
                        <a class="mdc-list-item year" href="/years/{{ currentdate }}" data-mdc-auto-init="MDCRipple">
                            <span class="mdc-list-item__text">{{ currentdate }}</span>
                        </a>
                    </h3>
                    {% assign date = currentdate %}
                    {% endif %}
                    <a class="mdc-list-item" href="{{ article.url | relative_url }}" data-mdc-auto-init="MDCRipple">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i>
                        <span class="mdc-list-item__text">{{ article.title }}</span>
                    </a>
                    {% if article.url == site.articles.first.url %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </nav>
    </div>
</aside>

<div class="mdc-drawer-scrim"></div>
