<header class="mdc-top-app-bar mdc-top-app-bar--short" id="app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="javascript:void(0);" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
            <span class="mdc-top-app-bar__title">{{ page.title }} | Reading School</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a href="/" class="mdc-top-app-bar__action-item" aria-label="Reading School" style="padding:0;">
                <img src="/images/logo-white.png" alt="Reading School Logo" style="height:100%;"/>
            </a>
        </section>
    </div>
</header>
