.mdc-typography--headline2, .mdc-typography--subtitle1 {
    text-transform: capitalize;
}
.mdc-typography--headline2, .mdc-typography--subtitle1, figure {
   margin: 5px;
}

.main-content {
    margin-left: 15%;
    margin-right: 15%;
}
@media screen and (max-width: 800px) {
    .main-content {
        margin-left:  5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 600px) {
    .main-content {
        margin-left:  2%;
        margin-right: 2%;
    }
}
