/* change theme */
:root {
    --mdc-theme-primary: #273967;
    --mdc-theme-secondary: #ef6c00;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-list-item--activated .mdc-list-item__text, .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
   color: var(--mdc-theme-primary);
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
}

a {
    color: var(--mdc-theme-secondary);
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
}

.main-content {
    margin: 15px;
    overflow: auto;
}

.app-bar {
    position: absolute;
}

footer {
    margin: 15px;
}


#cookies {
    display: none;
    width: 100%;
    position: fixed;
    background: var(--mdc-theme-primary);
    color: var(--mdc-theme-background);
    text-align: center;
    bottom: -100px;
    left: 0;
    z-index: 1;
}

#cookies p {
    margin: 10px;
}

#cookies p a {
    color: var(--mdc-theme-secondary);
    text-decoration: none;
}
