<!DOCTYPE html>
<html>
    {% include head.html %}
    <link href="/css/mdc-card-list.css" rel="stylesheet">
    <script src="/js/top-scroll-button.js"></script>
    <body>
        <!-- cookie notice is included automatically -->
        {% include cookie-notice.html %}

        <!-- content of navbar is included via jQuery -->
        {% include navbar.html %}

        <div class="mdc-drawer-app-content">
            {% include top-app-bar.html %}

            <main class="main-content" id="main-content">
                <div class="mdc-top-app-bar--short-fixed-adjust">
                    {{ content }}
                </div>
            </main>
            {% include footer.html %}
            {% include top-scroll-button.html %}
        </div>
    </body>
</html>
