<!DOCTYPE html>
<html>
    {% assign pageyear = page.url | relative_url | remove: '.html' | remove: '/' %}
    <!-- overwrite default title and description -->
    <meta name="apple-mobile-web-app-title" content="{{ pageyear }} | BBC Young Reporter | Reading School">
    <title>{{ pageyear }} | BBC Young Reporter | Reading School</title>
    <meta name="description" content="News articles written by Reading School students in year 8, in {{ pageyear }}">
    <link href="/css/article-list.css" rel="stylesheet">
    <link href="/css/year.css" rel="stylesheet">
    {% include head.html %}
    <body>
        <!-- cookie notice is included automatically -->
        {% include cookie-notice.html %}

        <!-- content of navbar is included via jQuery -->
        {% include navbar.html %}

        <div class="mdc-drawer-app-content">
            {% include top-app-bar.html %}

            <main class="main-content" id="main-content">
                <div class="mdc-top-app-bar--short-fixed-adjust">
                    <div class="year-header parallax-section" data-jarallax data-speed="{{ site.parallax-speed }}" style="background-image: url('/images/backgrounds/{{ pageyear }}.jpg');">
                        <h1 class="mdc-typography--headline1">{{ pageyear }}</h1>
                    </div>
                    <div class="splitter"></div>
                    <div class="article-section">
                        <div class="articles">
                            {% assign articles = site.categories.articles | sort: date | reverse %}
                            {% for article in articles %}
                            {% assign articleyear = article.date | date: "%Y" %}
                            {% if pageyear == articleyear %}
                                <div class="mdc-card" onclick="window.location='{{ article.url | relative_url }}';">
                                    <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('/images/{{ article.url | relative_url | remove: '.html' | replace: '/', '-' | remove: '-articles-' }}.jpg');"></div>
                                    <div class="mdc-card-content">
                                        <h2 class="mdc-typography--headline6">{{ article.title }}</h2>
                                        <h3 class="mdc-typography--subtitle2">
                                            <time class="timeago" datetime="{{ article.date | date: '%Y-%m-%d' }}T{{ article.date | date: '%H:%M:%S' }}">{{ article.date | date: '%A %e %B %Y' }}</time>
                                            | by {{ article.authors }}
                                        </h3>
                                        <div class="mdc-typography--body2 article-description">{{ article.description }}</div>
                                    </div>
                                    <div class="mdc-card__actions">
                                        <div class="mdc-card__action-buttons">
                                            <button class="mdc-button mdc-card__action mdc-card__action--button" data-mdc-auto-init="MDCRipple" onclick="window.location='{{ article.url | relative_url }}';">Read</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="splitter"></div>
                </div>
            </main>
            {% include footer.html %}
        </div>
    </body>
</html>
